/*----------- Generel css -----------*/
body {
    margin: auto;
    max-width: 1700px;
}

img {
    max-width: 100%;
}

/*----------- Menu -----------*/
header {
    display: flex;
    flex-flow: wrap;
    background: #5e5e5e93;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 38px;
}

.toggle-btn {
    background: transparent;
    font-family: Orbitron;
    font-size: 14px;
    color: white;
    border: none;
    display: none;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
}

li {
    display: inline;
}

li a {
    font-family: Orbitron;
    font-size: 14px;
    color: black;
    border: 1px solid black;
    background-color: #9fc55987;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: white;
}

@font-face {
    font-family: Orbitron;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

@media (max-width: 600px) {
.toggle-btn {
    display: block;
}
  
.menu.shown {
    display: contents;
}
  
.menu ul {
    display: none;
}
  
.menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex-flow: row;
    flex-basis: 100%;
}
}

/*----------- Tekst -----------*/
h1 {
    font-family: Orbitron;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: white;
}

h2 {
    font-family: Orbitron;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: white;
}

p {
    font-family: Kanit;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: white;
    text-align: justify;
}

@font-face {
    font-family: "Kanit";
    src: url(fonts/Kanit-Light.ttf);
}

a {
    font-family: Kanit;
    font-size: 12px;
    color: #a6c967;
}


/*----------- Forside -----------*/ 
.Forside {
    min-height: 100vh;
    background: url(img/billede1.webp) no-repeat;     /* Rettighedsfrit billede fra Unspalsh */
    background-size: cover;
    background-position: center;
  }

.Forside-tekst {
    max-width: 100%;
    margin-left: 33%;
    margin-top: 2%;

    max-width: 60%;
    margin-left: 21%;
    margin-top: 10%;
  }

/*----------- Portfolio -----------*/
.Portfolio {
    min-height: 100vh;
    background: url(img/billede2.webp) no-repeat;     /* Rettighedsfrit billede fra Unspalsh */
    background-size: cover;
    background-position: center;
  }

  .Main-portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }


/*----------- Om mig -----------*/
.Om_mig {
    min-height: 100vh;
    background: url(img/billede2.webp) no-repeat;     /* Rettighedsfrit billede fra Unspalsh */
    background-size: cover;
    background-position: center;
  }

  .Main-Om_mig {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Om_mig_tekst {
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
}

/*----------- Footer -----------*/
footer {
    text-align: center;
    justify-content: space-evenly;
    background-color:#5e5e5e93;
    padding: 10px;
}

footer img {
    background-color: #9fc55987;
    border: 1px solid black;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.Instagram {
    max-width: 4%;
}

.Linkedin {
    max-width: 4%;
}

.Mail {
    max-width: 4%;
}